title: 'Disconnect Apps'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      exitCode:
        type: 'integer'
      stderr:
        type: 'string'
      stdout:
        type: 'string'
    required: [
      'exitCode'
      'stderr'
      'stdout'
    ]
