title: "Advanced Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      receiverPath:
        title: "Custom Receiver Path"
        type: "string"
      display:
        title: "Custom DISPLAY variable"
        description: 'Only used in Linux'
        type: "string"
        default: ":0"
      storeUrl:
        title: "Store URL"
        description: 'Will attempt to autodiscover if left blank'
        type: "string"
      linuxUser:
        title: "Linux username"
        description: 'Only used in Linux'
        type: "string"
      homeDirectory:
        title: "User home directory"
        description: 'Only used in Linux'
        type: "string"
    required: [
      "receiverPath"
    ]
required: [
  "options"
]
