title: "Advanced Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      receiverPath:
        title: "Custom Receiver Path"
        type: "string"
        default: ""
    required: [
      "receiverPath"
    ]
required: [
  "options"
]
