title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      linuxUser:
        title: "Linux username"
        description: 'Only used in Linux'
        type: "string"
      homeDirectory:
        title: "User home directory"
        description: 'Only used in Linux'
        type: "string"
